<!DOCTYPE html>
<html>
<head>
	<title>MoodFuse - A Simple way to find new music based on your mood!</title>
	<%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Quicksand:400,700|Fredoka+One", :media => "all" %>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset='utf-8'>

	<% if Rails.env == 'production' %>
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-37212861-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	<% end %>

</head>
<body>
	<a href="https://github.com/ChrisZieba/MoodFuse"><img class="github-ribbon" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
	<%= yield %>

	<script type="text/javascript">
		var sc_project=8571687; 
		var sc_invisible=1; 
		var sc_security="140e3f07"; 
		var scJsHost = (("https:" == document.location.protocol) ?
		"https://secure." : "http://www.");
		document.write("<sc"+"ript type='text/javascript' src='" +
		scJsHost+
		"statcounter.com/counter/counter.js'></"+"script>");
	</script>


</body>
</html>